/build/
/artifacts/
__pycache__/
.pytest_cache/
.ruff_cache/
*.pyc
*.pyo
.venv/
.hypothesis/
/dist/
*.egg-info/
.coverage
.coverage.*
/htmlcov/
/SOURCE-FILES
/SOURCE-SHA256SUMS
/src/Makefile
/src/Makefile.in
/src/aclocal.m4
/src/autom4te.cache/
/src/.deps/
/src/*.o
/src/config.h
/src/config.h.in
/src/config.log
/src/config.status
/src/configure
/src/stamp-h1
/src/tmux
/src/tmux.1.man
